* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(94, 102, 108);
}

.container {
    width: 30%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    row-gap: 20px;
    overflow: hidden;
}
.slides {
    display: flex;
    width: 400%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.text-control-wrapper {
    width: 100%;
    overflow: hidden;

}

.slider-text {
    width: 400%;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.text {
    width: 25%;
    font-weight: bold;
    color: rgb(145, 228, 228);
    padding-top: 3.5px;
    transition: all .6s ease;
}

.slider-controller {
    z-index: 2;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.round {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin: 6px;
    background-color: rgb(8, 60, 60);
    transition: all .4s ease;
}

.round:hover {
    opacity: 0.8;
    transform: scale(1.05);
    background-color: rgb(43, 117, 117);
}

input[name="radio"]{
    display: none;
}

#r1:checked ~ .slides .s1,
#r1:checked ~ .text-control-wrapper .slider-text .t1 {
    margin-left: 0;
}
#r2:checked ~ .slides .s1,
#r2:checked ~ .text-control-wrapper .slider-text .t1 {
    margin-left: -25%;
}
#r3:checked ~ .slides .s1,
#r3:checked ~ .text-control-wrapper .slider-text .t1  {
    margin-left: -50%;
}
#r4:checked ~ .slides .s1,
#r4:checked ~ .text-control-wrapper .slider-text .t1  {
    margin-left: -75%;
}

#r1:checked ~ .slider-controller .b1{
    background-color: rgb(28, 222, 222);
}
#r2:checked ~ .slider-controller .b2 {
    background-color: rgb(28, 222, 222);
}
#r3:checked ~ .slider-controller .b3 {
    background-color: rgb(28, 222, 222);
}
#r4:checked ~ .slider-controller .b4 {
    background-color: rgb(28, 222, 222);
}
